<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<%= render partial: 'web/articles/link', collection: @article.links %>

<h2>Comments</h2>
<%= render partial: 'web/articles/comments/comment', collection: @article.comments %>

<h2>Add a comment:</h2>
<%= render 'web/articles/comments/form' %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
