<h1>Articles: </h1>

<%= search_form_for @q, url: moderation_articles_path do |f| %>
    <%= f.label :title_cont %>
    <%= f.search_field :title_cont %>

    <%= f.label :state_eq %>
    <%= f.select :state_eq, ['', 'draft', 'on_moderation', 'published'] %>

    <%= f.submit %>
  <% end %>

<table>
  <tr>
    <th><%= sort_link(@q, :title) %></th>
    <th>Text</th>
    <th><%= sort_link(@q, :category) %></th>
    <th><%= sort_link(@q, :state) %></th>
  </tr>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= article.category&.name %></td>
      <td><%= article.human_state_name %></td>
      <td><%= link_to 'Show', moderation_article_path(article) %></td>
      <td><%= link_to 'Edit', edit_moderation_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),
      method: :delete,
      data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
