<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= link_to 'Articles', articles_path %> |
    <%= link_to 'Articles to moderate', moderation_articles_path %>
    <%= yield %>
  </body>
</html>
